@media(max-width:1300px){
    .container{
        padding: 0 1rem;
    }
    .form-wrapper{
        padding: 0.5rem;
    width: 100%;
    }
}

@media(max-width:1035px){
.img-overlay h2{
    font-size: 3rem;
}
.from-control{
    width: 100%
}
.primary-btn
{
    width: 50%;
    font-size: 1rem;
}
}
@media (max-width: 950px) {
  .menu-btn {
    display: block; /* show hamburger only */
    cursor: pointer;
  }

  nav ul {
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 400px;
    background-color: var(--primary-color);
    top: -600px;
    left: 0;
    padding: 3rem 1rem;
    transition: all 0.5s ease-in;
  }

  nav ul.display {
    top: 0; /* menu slides down when active */
  }

  nav ul li a {
    margin: 15px;
    display: block;
  }

  .close-btn {
    display: block; /* show close icon when menu is open */
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
  }

  .travel-countries-wrapper{
  grid-template-columns: 2fr;
}

.france-content{
  grid-template-columns: 2fr;
}
.footer-content{
  grid-template-columns: repeat(2,1fr);
}

.footer-wrapper{
 grid-template-columns:  repeat(2,1fr);
}
}
@media(max-width:800px)
{
    .img-overlay h2{
    font-size: 2.5rem;
    letter-spacing: 4px;
}
.img-overlay p{
    letter-spacing: 5px;
   
} 
.primary-btn
{
    width: 100%;
    font-size: 1rem;
}
/*top search*/
#location-search{
  transform: translatey(0%);
  margin: 2rem 0;
}
form{
  flex-direction: column;
  gap: 1rem;
}
/*about*/
.about-content-wrapper{
    grid-template-columns: repeat(1,1fr);
} 

.about-content-wrapper .img img{
  width: 95%;
}

.agency-right-side .img::after{
    top: 15px;
    left: 15px;
    bottom: 0;
    right: 0;
    background: var(--primary-color);
    width: 90%;
}

/*---=====Choose Place  ======start------*/
.choose-wrapper{
    grid-template-columns:1fr; 
}
.row-wise-img{
  grid-template-columns:1fr; 
}
.img-content{
  bottom: 5px;
}

/*---=====Choose counter ======start------*/
.static-wrapper{
  grid-template-columns: repeat(2,1fr);
}
/*---=====Choose counter ======end------*/


/*---=====Video======start------*/
.vid-content h2{
  font-size: 2rem;
  letter-spacing: 2px;
}

.vid-content span{
  font-size: 1rem;
}

/*---=====Video======End------*/
/*--------travel countries start-----*/
.travel-countries-wrapper{
  grid-template-columns: 2fr;
}

.france-content{
  grid-template-columns: 2fr;
}

.blog-img-content{
    position: absolute;
    bottom: 10px;
}

/*footer*/

.footer-content{
  grid-template-columns: repeat(2,1fr);
}

.footer-wrapper{
 grid-template-columns:  repeat(2,1fr);
}
}

@media(max-width:655px){
  html{
    font-size: 14px;
  }

  /*footer*/
  .footer-content{
  grid-template-columns: repeat(1,1fr);
}

.footer-wrapper{
 grid-template-columns:  repeat(1,1fr);
}
}