<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Travel and Tour Website</title>
  <link rel="stylesheet" href="/css/Travelweb.css" > 
  <link rel="stylesheet" href="/css/reponse.css">
  <script src="https://kit.fontawesome.com/7f1fc7e7ac.js" crossorigin="anonymous"></script>
  <link rel="preconnect" 
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"/>
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css"/>
</head>
<body>


    <!---=====header========start=====-->
   <header>
  <div class="container">
    <nav>
      <div class="logo">
        <img src="/project/logotr2.png" alt="logo" />
      </div>

      <!-- MENU LIST -->
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#choose-place">Tours</a></li>
        <li><a href="#top-destination">Destination</a></li>
        <li><a href="#travel-blog">Gallery</a></li>
        <li><a href="#footer">Contact</a></li>
        <li class="close-btn">
          <i class="fa-solid fa-xmark"></i>
        </li>
      </ul>


      
      <!-- HAMBURGER ICON -->
      <div class="menu-btn">
        <i class="fa-solid fa-bars"></i>
      </div>
    </nav>
  </div>
</header>



    <!---=====header========end=====-->
    <!----showcase------------------->
    <main id="home">
        <div class="silde-container swiper">
        <div class="slide-content swiper-wrapper">
            <div class="overlay swiper-slide">
                <img src="/project/alaska.1.jpg" alt="">
                <div class="img-overlay">
                    <p>Let's Travel The word with us</p>
                    <h2><span>Discover</span>The World</h2>
                    <h2>With Our Guide</h2>
                </div>
            </div>
            <div class="overlay swiper-slide">
                <img src="/project/bg7.jpg" alt="">
                <div class="img-overlay">
                    <p>Let's Travel The word with us</p>
                    <h2><span>Discover</span>The World</h2>
                    <h2>With Our Guide</h2>
                </div>
            </div>
            <div class="overlay swiper-slide">
                <img src="/project/paris.1.jpg" alt="">
                <div class="img-overlay">
                    <p>Let's Travel The word with us</p>
                    <h2><span>Discover</span>The World</h2>
                    <h2>With Our <span>Travel</span></h2>
                </div>
            </div>
        </div>
        </div>
    </main>
    <!----------Search location---------->
    <section id="location-search">
        <div class="container">
            <div class="form-wrapper">
                <form action="#">
                    <input type="text"placeholder="where to?" class="from-control">
                    <select class="from-control">
                            <option value="Destination">Destination</option>
                            <option value="Destination">Europe</option>
                            <option value="Destination">Asia</option>
                            <option value="Destination">America</option>
                            <option value="Destination">Africa</option>
                            <option value="Destination">Australia</option>
                        </select>
                          <select class="from-control">
                            <option value="duration">Duration</option>
                            <option value="day-1">1 Day Tour</option>
                            <option value="2-4 Days">2-4 Days Tour</option>
                            <option value="5-7 Days">5-7 Days Tour</option>
                            <option value="7+ Days">7+ Days</option>
                        </select>
                        <button type="button"class="primary-btn">Search Now</button>
                </form>
            </div>            
        </div>
    </section>
    <!----------Search location end---------->  


    <!----------about section start---------->    
    <section id="about">
      <div class="container"> 
        <div class="about-content-wrapper">
          <div class="agency-left-side">
           <p class="heading-normal-txt"> THE BEST TRAVEL AGENCY </p>
           <h2 class="headings">DISCOVER THE <span> WORLD</span> WITH OUR GUIDE</h2>
           <p class="lead">
            You Can Choose and country with good tourism.Agency elementum 
            sesue the aucen vestribulum aliquam justo in saptin rutrum volutpat.
            Donec in quis the pellentesque velit.Donec id velit non 
            mi tincidunt lobortis.  
           </p><br>
           <p class="lead">
           Hotel as a nisl than nestrbulum ac before itself first in the throat.
           Praesent ac sem eget est egestas volutpat. Phasellus liverra
           </p>
           <ul>
            <li>
              <div class="icons">
                <i class="fa-solid fa-check"></i>
                <p>20 Years of Experience</p>
              </div>
            </li>
            <li>
             <div class="icons">
                <i class="fa-solid fa-check"></i>
                <p>150 Tour Destination</p>
              </div>
            </li>
            <li>
             <div class="icons">
                <i class="fa-solid fa-phone"></i>
                <p>855 333 4444</p>
              </div>
            </li>
           </ul>
          </div>
          <div class="agency-right-side">
           <div class="img">
            <img src="/project/about1.jpg" alt="about image">
            </div>
           </div>
        </div>
      </div>
    </section>
    <!----------about section end---------->

    <!----choose Your Place ---------Start--------->

    <section id="choose-place"> 
      <div class="container">
        <p class="heading-normal-txt">CHOOSE YOUR PLACE</p>
        <h2 class="headings">POPULAR <span>TOUR</span></h2>
        <div class="choose-wrapper">
          <div class="img-left-side">
            <div class="lg-img">
              <img src="/project/mal.jpg" alt="large image">
              <div class="img-content">
                <h2>Maldives Tours</h2>
                <div class="hidden-content">
                  <span><i class="fa-solid fa-clock"></i>10 Days</span>
                  <span><i class="fa-solid fa-user"></i>15+</span>
                  <span><i class="fa-solid fa-clock"></i>Maldives</span>
                </div>
              </div>
              <div class="price-label">
                <p>$2.500</p>
              </div>
            </div>
          </div>
          <div class="img-right-side">
            <div class="lg-img">
              <img src="/project/thai.3.jpg" alt="large image">
              <div class="img-content">
                <h2>Thailand Tours</h2>
                <div class="hidden-content">
                  <span><i class="fa-solid fa-clock"></i>10 Days</span>
                  <span><i class="fa-solid fa-user"></i>15+</span>
                  <span><i class="fa-solid fa-clock"></i>Maldives</span>
                </div>
              </div>
              <div class="price-label">
                <p>$3.500</p>
              </div>
            </div>
          </div>
        </div>

      <!----row wise image-->
      <div class="row-wise-img">
        <div class="lg-img">
              <img src="/project/france.jpg" alt="large image">
              <div class="img-content">
                <h2>France Tours</h2>
                <div class="hidden-content">
                  <span><i class="fa-solid fa-clock"></i>10 Days</span>
                  <span><i class="fa-solid fa-user"></i>15+</span>
                  <span><i class="fa-solid fa-clock"></i>Maldives</span>
                </div>
              </div>
              <div class="price-label">
                <p>$5.00</p>
              </div>
            </div>
            <div class="lg-img">
              <img src="/project/switer.jpg" alt="large image">
              <div class="img-content">
                <h2>Switzerland Tours</h2>
                <div class="hidden-content">
                  <span><i class="fa-solid fa-clock"></i>10 Days</span>
                  <span><i class="fa-solid fa-user"></i>15+</span>
                  <span><i class="fa-solid fa-clock"></i>Maldives</span>
                </div>
              </div>
              <div class="price-label">
                <p>$6.00</p>
              </div>
            </div>
            <div class="lg-img">
              <img src="/project/canda.1.jpg" alt="large image">
              <div class="img-content">
                <h2>Canda Tours</h2>
                <div class="hidden-content">
                  <span><i class="fa-solid fa-clock"></i>10 Days</span>
                  <span><i class="fa-solid fa-user"></i>15+</span>
                  <span><i class="fa-solid fa-clock"></i>Maldives</span>
                </div>
              </div>
              <div class="price-label">
                <p>$1.500</p>
              </div>
            </div>
        </div>
        </div>
      </section>
 <!----choose Your Place ---------close--------->

  <!----Static  counter Numbers ---------Start--------->

  <section id="static-counter">
    <div class="container">
      <div class="static-wrapper">
      <div class="static-icons">
      <i class="fa-solid fa-plane-departure"></i>
        <p class="numbers" data-ceil="600">600</p>
        <p class="txt">Flight Booking</p>
      </div>
      <div class="static-icons">
        <i class="fa-solid fa-house"></i>
        <p class="numbers" data-ceil="250">250</p>
        <p class="txt">Amazing Tour</p>
      </div>
      <div class="static-icons">
        <i class="fa-solid fa-ship"></i>
        <p class="numbers" data-ceil="150">100</p>
        <p class="txt">Curises Booking</p>
      </div>
      <div class="static-icons">
        <i class="fa-solid fa-ticket"></i>
        <p class="numbers" data-ceil="100">100</p>
        <p class="txt">Ticket Bookings</p>
      </div>
      </div>  
    </div>
  </section>

  <!----Static  counter Numbers ---------End--------->

  <!-----------===Top Destination-------Start-->

  <section id="top-destination">
    <div class="container">
      <p class="heading-normal-txt">TOP DESTINATION</p>
      <h2 class="headings">POPULAR <span>DESTINATION</span></h2>
      <div class="top-destination-wrapper swiper2">
       <div class="swiper-wrapper">
         <div class="carousel swiper-slide">
          <img src="/project/duabi.jpg" alt="paris">
          <div class="carousel-img-overlay">
            <div class="img-content">
              <h2><i class="fa-solid fa-location-dot"></i>Dubai</h2>
              <div class="hidden-content-carousel">
                <span>4 Tours packages</span>
                <a href="#"><span>Explore</span><i class="fa-solid fa-arrow-right"></i></a>
              </div>
            </div>
        </div>
        <div class="price-label">
          <p>15% off</p>
        </div>
       </div>
        <div class="carousel swiper-slide">
          <img src="/project/top.bali.jpg" alt="bali">
          <div class="carousel-img-overlay">
            <div class="img-content">
              <h2><i class="fa-solid fa-location-dot"></i>Bali</h2>
              <div class="hidden-content-carousel">
                <span>3 Tours packages</span>
                <a href="#"><span>Explore</span><i class="fa-solid fa-arrow-right"></i></a>
              </div>
            </div>
        </div>
        <div class="price-label">
          <p>$600</p>
        </div>
       </div>
        <div class="carousel swiper-slide">
          <img src="/project/top.paris.jpg" alt="paris">
          <div class="carousel-img-overlay">
            <div class="img-content">
              <h2><i class="fa-solid fa-location-dot"></i>paris</h2>
              <div class="hidden-content-carousel">
                <span>3 Tours packages</span>
                <a href="#"><span>Explore</span><i class="fa-solid fa-arrow-right"></i></a>
              </div>
            </div>
        </div>
        <div class="price-label">
          <p>15% off</p>
        </div>
       </div>
       <div class="carousel swiper-slide">
          <img src="/project/top.usa.jpg" alt="usa">
          <div class="carousel-img-overlay">
            <div class="img-content">
              <h2><i class="fa-solid fa-location-dot"></i>USA</h2>
              <div class="hidden-content-carousel">
                <span>3 Tours packages</span>
                <a href="#"><span>Explore</span><i class="fa-solid fa-arrow-right"></i></a>
              </div>
            </div>
        </div>
        <div class="price-label">
          <p>New</p>
        </div>
       </div>
       <div class="carousel swiper-slide">
          <img src="/project/top.phi.jpg" alt="Philippines">
          <div class="carousel-img-overlay">
            <div class="img-content">
              <h2><i class="fa-solid fa-location-dot"></i>Philippines</h2>
              <div class="hidden-content-carousel">
                <span>3 Tours packages</span>
                <a href="#"><span>Explore</span><i class="fa-solid fa-arrow-right"></i></a>
              </div>
            </div>
        </div>
        <div class="price-label">
          <p>$1200</p>
        </div>
       </div>
       <div class="carousel swiper-slide">
          <img src="/project/top.thai.jpg" alt="morocco">
          <div class="carousel-img-overlay">
            <div class="img-content">
              <h2><i class="fa-solid fa-location-dot"></i>Thailand</h2>
              <div class="hidden-content-carousel">
                <span>3 Tours packages</span>
                <a href="#"><span>Explore</span><i class="fa-solid fa-arrow-right"></i></a>
              </div>
            </div>
        </div>
        <div class="price-label">
          <p>$5200</p>
        </div>
       </div>
      </div>
    </div>
  </section>
   <!-----------===Top Destination-------end-->

   <!-----------===video background Costa Vic-------Start-->

   <section id="costa-victoria">
    <div class="video-bg">
      <video autoplay muted loop preload="auto">
        <source src="/project/vid4.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="container">
      <div class="vid-content">
        <h2>Costa costa-victorial Cochin</h2>
      <span><i class="fa-solid fa-clock"></i>10 Days</span>
      <span><i class="fa-solid fa-user"></i>12+</span>
      <span><i class="fa-solid fa-user"></i>Canada</span>
      </div>
    </div>
   </section>
    <!-----------===video background Costa Vic-------end-->

     <!-----------===Travel Countires -------Start-->
     <section id="travel-countries">
      <div class="container">
        <p class="heading-normal-txt">MOST POPULAR</p>
        <h2 class="headings">TRAVEL<span>COUNTRIES</span></h2>
        

        <!------italy----->
        <div class="travel-countries-wrapper">
          <div class="countries-content">
            <h2 class="secondary-headings">ITALY,EROUPE</h2>
            <p class="lead">Italy is a beautiful country with a rich history, stunning architecture, and delicious cuisine. 
              From the ancient ruins of Rome to the romantic canals of Venice, there is something for everyone to enjoy in Italy.</p>
            <ul>
              <div class="country-names">
                <li><i class="fa-solid fa-location-dot"></i>Rome</li>
                <li><i class="fa-solid fa-location-dot"></i>Venice</li>
                <li><i class="fa-solid fa-location-dot"></i>Florence</li>
              </div>
              <div class="country-names">
                <li><i class="fa-solid fa-location-dot"></i>Milan</li>
                <li><i class="fa-solid fa-location-dot"></i>san Marino</li>
                <li><i class="fa-solid fa-location-dot"></i>Parma</li>
              </div>
              <div class="country-names">
                <li><i class="fa-solid fa-location-dot"></i>verona</li>
                <li><i class="fa-solid fa-location-dot"></i>Perugia</li>
                <li><i class="fa-solid fa-location-dot"></i>Aosta</li>
              </div>
            </ul>
            <button type="button" class="primary-btn">
              All Tours <i class="fa-solid fa-arrow-right"></i></button>
          </div>
          <div class="slider-content-wrapper swiper3">
            <div class="swiper-wrapper">
              <div class="carousel swiper-slide">
          <img src="/project/rome.jpg" alt="Rome">
          <div class="carousel-img-overlay">
            <div class="img-content">
              <h2>Rome</h2>
              <div class="hidden-content-carousel">
                  <span><i class="fa-solid fa-clock"></i>03 Days</span>
                  <span><i class="fa-solid fa-user"></i>10+</span>
                  <span><i class="fa-solid fa-clock"></i>Italy</span>
              </div>
            </div>
        </div>
        <div class="price-label">
          <p>$1.300</p>
        </div>
       </div>
        <div class="carousel swiper-slide">
          <img src="/project/Perugia.jpg" alt="venice">
          <div class="carousel-img-overlay">
            <div class="img-content">
              <h2>Perugia</h2>
              <div class="hidden-content-carousel">
                  <span><i class="fa-solid fa-clock"></i>04 Days</span>
                  <span><i class="fa-solid fa-user"></i>5+</span>
                  <span><i class="fa-solid fa-clock"></i>Italy</span>
              </div>
            </div>
        </div>
        <div class="price-label">
          <p>$1.120</p>
        </div>
       </div>
       <div class="carousel swiper-slide">
          <img src="/project/Parma.jpg" alt="venice">
          <div class="carousel-img-overlay">
            <div class="img-content">
              <h2>Parma</h2>
              <div class="hidden-content-carousel">
                  <span><i class="fa-solid fa-clock"></i>07 Days</span>
                  <span><i class="fa-solid fa-user"></i>8+</span>
                  <span><i class="fa-solid fa-clock"></i>Italy</span>
              </div>
            </div>
        </div>
        <div class="price-label">
          <p>$12.85</p>
        </div>
       </div>
       <div class="carousel swiper-slide">
          <img src="/project/Aosta.jpg" alt="venice">
          <div class="carousel-img-overlay">
            <div class="img-content">
              <h2>Aosta</h2>
              <div class="hidden-content-carousel">
                  <span><i class="fa-solid fa-clock"></i>09 Days</span>
                  <span><i class="fa-solid fa-user"></i>10+</span>
                  <span><i class="fa-solid fa-clock"></i>Italy</span>
              </div>
            </div>
        </div>
        <div class="price-label">
          <p>$3250</p>
        </div>
       </div> 
            </div>
          </div>
        </div>
              <!------italy---close-->
      <!------france-->
      <div class="france-content">
        <div class="slider-content-wrapper swiper3">
            <div class="swiper-wrapper">
              <div class="carousel swiper-slide">
          <img src="/project/top.paris.jpg" alt="Rome">
          <div class="carousel-img-overlay">
            <div class="img-content">
              <h2>Paris</h2>
              <div class="hidden-content-carousel">
                  <span><i class="fa-solid fa-clock"></i>03 Days</span>
                  <span><i class="fa-solid fa-user"></i>10+</span>
                  <span><i class="fa-solid fa-clock"></i>France</span>
              </div>
            </div>
        </div>
        <div class="price-label">
          <p>$1.300</p>
        </div>
       </div>
        <div class="carousel swiper-slide">
          <img src="/project/lyon.jpg" alt="venice">
          <div class="carousel-img-overlay">
            <div class="img-content">
              <h2>Lyon</h2>
              <div class="hidden-content-carousel">
                  <span><i class="fa-solid fa-clock"></i>04 Days</span>
                  <span><i class="fa-solid fa-user"></i>5+</span>
                  <span><i class="fa-solid fa-clock"></i>France</span>
              </div>
            </div>
        </div>
        <div class="price-label">
          <p>$1.120</p>
        </div>
       </div>
       <div class="carousel swiper-slide">
          <img src="/project/Marseille.jpg" alt="venice">
          <div class="carousel-img-overlay">
            <div class="img-content">
              <h2>Marseille</h2>
              <div class="hidden-content-carousel">
                  <span><i class="fa-solid fa-clock"></i>07 Days</span>
                  <span><i class="fa-solid fa-user"></i>8+</span>
                  <span><i class="fa-solid fa-clock"></i>Italy</span>
              </div>
            </div>
        </div>
        <div class="price-label">
          <p>$12.85</p>
        </div>
       </div>
       <div class="carousel swiper-slide">
          <img src="/project/Nantes.jpg" alt="venice">
          <div class="carousel-img-overlay">
            <div class="img-content">
              <h2>Nantes</h2>
              <div class="hidden-content-carousel">
                  <span><i class="fa-solid fa-clock"></i>09 Days</span>
                  <span><i class="fa-solid fa-user"></i>10+</span>
                  <span><i class="fa-solid fa-clock"></i>Italy</span>
              </div>
            </div>
        </div>
        <div class="price-label">
          <p>$3250</p>
        </div>
       </div> 
            </div>
          </div>
          <div class="countries-content">
            <h2 class="secondary-headings">FRANCE,EROUPE</h2>
            <p class="lead">France is a beautiful country with a rich cultural heritage, iconic landmarks, and exquisite cuisine. 
            From the romantic streets of Paris to the sunny beaches of Nice and the charming villages of Provence, 
            there is something for everyone to enjoy in France.</p>
            <ul>
              <div class="country-names">
                <li><i class="fa-solid fa-location-dot"></i>Paris</li>
                <li><i class="fa-solid fa-location-dot"></i>Orleans</li>
                <li><i class="fa-solid fa-location-dot"></i>Nantes</li>
              </div>
              <div class="country-names">
                <li><i class="fa-solid fa-location-dot"></i>Lyon</li>
                <li><i class="fa-solid fa-location-dot"></i>Bordeaux</li>
                <li><i class="fa-solid fa-location-dot"></i>Toulouse</li>
              </div>
              <div class="country-names">
                <li><i class="fa-solid fa-location-dot"></i>Marseille</li>
                <li><i class="fa-solid fa-location-dot"></i>Cennes</li>
                <li><i class="fa-solid fa-location-dot"></i>Nice</li>
              </div>
            </ul>
            <button type="button" class="primary-btn">
              All Tours <i class="fa-solid fa-arrow-right"></i></button>
          </div>
      </div>
    </div>
      

      </div>
     </section>
     <!-----------===Travel Countires -------end---->

     <!---=========travel blog=============-->
     <section id="travel-blog">
      <div class="container">
        <p class="heading-normal-txt">TRAVEL BLOG</p>
        <h2 class="headings">TRAVEL<span>EXPERIENCE</span></h2>
        <div class="top-destination-wrapper swiper2">
       <div class="swiper-wrapper">
         <div class="swiper-slide blog">
          <img src="/project/blog1.jpg" alt="paris">
          <div class="blog-img-overlay">
            <div class="blog-img-content">
              <h2>Tours</h2>
               <p class="lead">Small Group Tours With Flights From USA</p>
            </div>
        </div>
        <div class="price-label">
          <p>05 Dec</p>
        </div>
       </div>
        <div class="swiper-slide blog">
          <img src="/project/blog5.jpg" alt="paris">
          <div class="blog-img-overlay">
            <div class="blog-img-content">
              <h2>Tours</h2>
               <p class="lead">Small Group Tours With Flights From USA</p>
            </div>
        </div>
        <div class="price-label">
          <p>15 Dec</p>
        </div>
       </div>
         <div class="swiper-slide blog">
          <img src="/project/family.jpg" alt="paris">
          <div class="blog-img-overlay">
            <div class="blog-img-content">
              <h2>Tours</h2>
               <p class="lead">Small Group Tours With Flights From USA</p>
            </div>
        </div>
        <div class="price-label">
          <p>27Dec</p>
        </div>
       </div>
         <div class="swiper-slide blog">
          <img src="/project/blog4.jpg" alt="paris">
          <div class="blog-img-overlay">
            <div class="blog-img-content">
              <h2>Tours</h2>
               <p class="lead">Small Group Tours With Flights From USA</p>
            </div>
        </div>
        <div class="price-label">
          <p>19 Dec</p>
        </div>
       </div>
         <div class="swiper-slide blog">
          <img src="/project/blog.jpg" alt="paris">
          <div class="blog-img-overlay">
            <div class="blog-img-content">
              <h2>Tours</h2>
               <p class="lead">Small Group Tours With Flights From USA</p>
            </div>
        </div>
        <div class="price-label">
          <p>23 Dec</p>
        </div>
       </div>
         <div class="swiper-slide blog">
          <img src="/project/blog3.jpg" alt="paris">
          <div class="blog-img-overlay">
            <div class="blog-img-content">
              <h2>Tours</h2>
               <p class="lead">Small Group Tours With Flights From USA</p>
            </div>
        </div>
        <div class="price-label">
          <p>25 Dec</p>
        </div>
       </div>
      </div>
    </div>
      </div>
     </section>

        <!---------travel blog-->

        <!---------testmonialsstart-------->
        <section id="testimonials">
          <div class="container">
            <p class="heading-normal-txt">TOP DESTINATION</p>
             <h2 class="headings">TRAVEL EXPERIENCE</h2>
             <div class="testimonails-wrapper swiper4">
              <div class="swiper-wrapper">
                <div class="testimonails-content swiper-slide">
                  <p class="lead">
                    <i class="fa-solid fa-quote-left"></i>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Consequatur ad, explicabo placeat quasi earum illum hic quo iste neque exercitationem
                     dolorem maiores iure eaque beatae rerum sapiente quas eos voluptas.
                    <i class="fa-solid fa-quote-right"></i>
                    </p>
                    <div class="test-img">
                      <img src="/project/review1.jpg" alt="">
                    </div>
                    <div class="icons">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <p>Nolan</p>
                      <p class="guest">Guset Review</p>
                    </div>
                </div>
                <div class="testimonails-content swiper-slide">
                  <p class="lead">
                    <i class="fa-solid fa-quote-left"></i>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Consequatur ad, explicabo placeat quasi earum illum hic quo iste neque exercitationem
                     dolorem maiores iure eaque beatae rerum sapiente quas eos voluptas.
                    <i class="fa-solid fa-quote-right"></i>
                    </p>
                    <div class="test-img">
                      <img src="/project/review2.jpg" alt="">
                    </div>
                    <div class="icons">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <p>John</p>
                      <p class="guest">Guset Review</p>
                    </div>
                </div>
                <div class="testimonails-content swiper-slide">
                  <p class="lead">
                    <i class="fa-solid fa-quote-left"></i>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Consequatur ad, explicabo placeat quasi earum illum hic quo iste neque exercitationem
                     dolorem maiores iure eaque beatae rerum sapiente quas eos voluptas.
                    <i class="fa-solid fa-quote-right"></i>
                    </p>
                    <div class="test-img">
                      <img src="/project/review3.jpg" alt="">
                    </div>
                    <div class="icons">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <p>Dev</p>
                      <p class="guest">Guset Review</p>
                    </div>
                </div>
              </div>
             </div>
          </div>
        </section>

       <!---------testmonialss   END-------->  
       <footer id="footer">
        <div class="content">
          <div class="footer-content">
            <div class="ft-content">
              <div class="icon">
                <i class="fa-solid fa-phone-volume"></i>
              </div>
              <div class="content">
                <p class="lead">Call us</p>
                <p>+1 123-456-0606</p>
              </div>
            </div>
            <div class="ft-content">
              <div class="icon">
               <i class="fa-solid fa-envelope-open"></i>
              </div>
              <div class="content">
                <p class="lead">write for us</p>
                <p>admin@online.com</p>
              </div>
            </div>
            <div class="ft-content">
              <div class="icon">
               <i class="fa-solid fa-map-location"></i>
              </div>
              <div class="content">
                <p class="lead">Address</p>
                <p>16/16,chitraNagar,coimbatore,Tamilnadu</p>
              </div>
            </div>
          </div>

          <!----------footer content 2nd section-->
          <div class="footer-wrapper">
            <div class="about">
              <div class="img-logo">
                <img src="/project/logotr2.png" alt="">
              </div>
              <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Non officia impedit sint praesentium, 
                maiores autem nesciunt dicta quae delectus expedita architecto ea, odit provident nihil.
                 Tempore, fugit totam. Voluptatem, ipsa.
              </p>
              <div class="social-icons">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-whatsapp"></i>
               <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-x-twitter"></i>
              </div>
            </div>
            <div class="links">
            <h2>Quick Links</h2>
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Tour</a></li>
              <li><a href="#">Destination</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
            </div>
             <div class="subscribe">
            <h2>Subscribe</h2>
            <p class="lead">
              Signup for our monthly blog letter to stay informed about travel
              and tours
            </p>
            <form action="#">
                <input type="text" placeholder="Email Address">
                <button type="button" class="button">send</button>
            </form> 
            </div>
          </div>
          <div class="footer">
              <p>&copy;2023 OnlineTravel.All Rights Reserved.</p>
          </div>
        </div>
       </footer>


    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
<script src="/js/swiper.js"></script>
<script src="/js/Travel.js"></script>
</body>
</html>