<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign In | Travel & Tour</title>
  <link rel="stylesheet" href="/css/Style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="auth-wrapper">
    <div class="auth-box">
      <h2>Welcome Back</h2>
      <p class="subtitle">Sign in to continue exploring amazing tours</p>
      <form action="/signin" method="post">
        <div class="input-group">
          <input type="email" placeholder="Email Address" name="email" required />
        </div>
        <div class="input-group">
          <input type="password" placeholder="Password" name="password" required />
        </div>
        <button type="submit"class="btn">Sign In</button>
        <p class="switch-text">
          Don’t have an account? <a href="/signup">Sign Up</a>
        </p>
      </form>
    <p th:if="${param.error == 'password'}" style="color:red">
  Passwords do not match
  </p>
 <p th:if="${param.signupSuccess}" style="color:#10367d">
  Account created successfully. Please login.
</p>
    </div>
  </div>
  <script src="/js/script.js"></script>
</body>
</html>